# Virtual Environment Files
ocds_env/
tender-scraper/
# VS code settings
.vscode/

# Cache Python
code/scraper/__pycache__

# Recent Tender Files
code/scraper/scraped_recent_tenders
scraped_recent_tenders/
