# Virtual Environment Files
ocds_env/*
tender-scraper/*
venv/*
oci/*
# VS code settings
.vscode/
data/RawData/unmapped_jan_sep2024/unmapped_jan-sep2024/*

# Cache Python
code/scraper/__pycache__

# Recent Tender Files
code/scraper/scraped_recent_tenders
scraped_recent_tenders/
